streamlit
langchain_community
langgraph
langchain_groq
langchain_core
google
huggingface_hub
openai
python-dotenv
groq
psutil
psycopg2-binary
pgvector
langgraph-checkpoint-postgres
sentence-transformers
langchain_huggingface
bcrypt
rank-bm25
PyJWT
streamlit-cookies-manager